/*
	until I have a better handle on how this is going to be structured overall,
	it'll probably live mostly in this file.
*/

.lcars-container {
	padding: $grid--page-padding;
}

.lcars-bar {
	display: flex;
	width: 100%;
	height: 100%;

	&::before,
	&::after {
		content: '';
		height: 100%;
		width: 100%;
		flex: 1;
	}

	&.top-right-inner-elbow {
		&::after {
			border-top-right-radius: $rounding--xlarge;
		}
	}

	&.top-left-outer-elbow,
	&.top-right-outer-elbow {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			height: $rounding--medium;
			width: $rounding--medium;
			top: -0.5px; // there are gaps, and I'm not sure why. these offsets fix them, but I'd like to look into this more
			left: -($rounding--medium)+0.5;
			clip-path: url(#cp--top-left-outer-elbow);
		}
	}

	&.top-right-outer-elbow {
		position: relative;

		&::before {
			transform: scaleX(-1);
			left: unset;
			right: -($rounding--medium)-0.5;
		}
	}

	&.end-left {
		&::before {
			border-top-left-radius: $rounding--small;
			border-bottom-left-radius: $rounding--small;
		}
	}

	&.end-right {
		&::after {
			border-top-right-radius: $rounding--small;
			border-bottom-right-radius: $rounding--small;
		}
	}
}

.lcars-button {
	display: inline-block;
	outline: none;
	border: none;
	position: relative;
	&.bar-middle {
		margin: 0 $bar--button-padding;
	}
	.lcars-button-text {
		position: absolute;

		&.bottom,
		&.top {
			left: 0;
			right: 0;
		}
		&.bottom {
			bottom: $bar--button-inner-padding;
		}
		&.top {
			top: $bar--button-inner-padding;
		}
		&.left {
			left: $bar--button-inner-padding;
		}
		&.right {
			right: $bar--button-inner-padding;
		}
		&.top-left {
			top: $bar--button-inner-padding;
			left: $bar--button-inner-padding;
		}
		&.top-right {
			top: $bar--button-inner-padding;
			right: $bar--button-inner-padding;
		}
		&.bottom-left {
			bottom: $bar--button-inner-padding;
			left: $bar--button-inner-padding;
		}
		&.bottom-right {
			bottom: $bar--button-inner-padding;
			right: $bar--button-inner-padding;
		}
	}
}

.lcars-bar.vertical {
	flex-direction: column;

	.lcars-button {
		&.bar-middle {
			margin: $bar--button-padding 0;
		}
	}
}
